<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8" />
	<title>Document</title>
</head>
<body>
	<p>Hello World</p>
	<p>BMW and AUDI are the best.</p>
	<p>Good Morning <span th:text="${name}"></span></p>
	<p>Car is <span th:text="${car}"></span></p>
	<p>Name in Uppercase is <span th:text="${#strings.toUpperCase(name)}"></span></p>
	<p>Length of the name is <span th:text="${#strings.length(name)}"></span></p>
	<div th:with="a=10,b=20,localName=${name}">
	<p>Value of a is <span th:text="${a}"></span></p>
	<p th:text="'Value of b is '+${b}"></p>
	<p></p>
	</div>
</body>
</html>