<!doctype html>
<html lang="en" xmlns:th="http://thymeleaf.org" th:replace="base::layout(~{::section})">
<head>
	<meta charset="UTF-8" />
	<title>Document</title>
</head>
<body>
<section>
<p>Hello World</p>
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. 
Ab a quae distinctio neque optio voluptatem reprehenderit 
tenetur odio similique ad totam ipsa quisquam recusandae! 
Natus reprehenderit hic culpa iusto ratione soluta et 
dignissimos itaque ad cupiditate neque aperiam adipisci repudiandae.</p>
</section>
	
</body>
</html>